.navigation {
    list-style-type:none; 
    overflow:hidden;
    margin-top: auto;
    position:sticky;
    top:0px;
    display: flex;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    color:black;
    padding: 0;
    margin: 0;
    background-color: rgb(174, 205, 255);
}

.buttons {
    display:inline;
    font-weight:normal;
    color: black;
    padding-bottom: 0px;
    padding: 0;
    margin: 0;
}

.buttons a {
    text-decoration: none;
    color: black;
    font-size:large;
}

.heading {
    text-align: center;
    font-family:"Comic Sans MS", "Segoe Script", "Lucida Handwriting";
    font-weight: lighter;
    font-size:xx-large;
}

.buttons {
    flex:1;
    padding: 30px;
    font-weight: bold;
    border-right: 2px solid black;
    height:5px;
}

.last-button {
    flex:1;
    padding: 30px;
    font-weight: bold;
}

ul {
    margin: 0px;
    padding: 0px;
}

.first-text {
    text-align: left;
    max-width: 700px;
    margin-left: 50px;
    width: 60%;
    font-family:'Fira Code', Consolas, 'Courier New', monospace;
}

.python-images {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    background-color: #c4c3c3; 
    padding: 35px;
    width: fit-content;
    margin-top: 25px;
    margin-left: auto;
    margin-right: 150px;
    box-sizing: border-box;
}

.info-container img {
    display: block;
    max-width: 300px;
    height: 200px;
    width:900px;
    box-sizing: border-box;
    overflow: hidden; 
    border: 2px solid #000;
    padding: 5px;
}

.active-site {
    text-decoration: underline;
}

.first-box {
    display: flex;
    margin: 0px;
    padding:0px
}

.second-text {
    text-align: left;
    max-width: 700px;
    margin-left: 50px;
    width: 60%;
    font-size: large;
}

.top-img img {
    border-radius:30px;
    width: 25%;
    flex: 1;
    margin-top: 20px;
    gap:10px;
    border: 2px solid #000;
    padding: 5px;
}

.fig-img1 {
    margin-left: 150px;
}

.fig-img2 {
    margin-left: 20px;
}

.big-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.third-text {
    text-align: left;
    max-width: 700px;
    margin-left: 50px;
    width: 70%;
    font-family:'Fira Code', Consolas, 'Courier New', monospace;
}

.fig-logo {
    width:700px;
}

.bottom-imgs {
    display: flex;
    justify-content: center; 
    gap: 10px;             
    margin-top: 35px;
    margin-bottom: 20px;
}

.bottom-imgs img {
    width: 100%;
    max-width: 350px;       
    border: 2px solid #000; 
    padding: 5px;
}

.img-1 {
    margin-left:50px;
}

.right-bottom-imgs img {
    width: 378px; 
    height:298px;     
    border-radius: 30px;
    gap:10px;
    justify-content: flex-end;
    border: 2px solid #000;
    padding: 5px;
}

.right-bottom-imgs {
    display:flex;
    flex-direction: column; 
    margin-left: 145px;
    margin-top: 20px;
}

.bottom-2 {
    margin-top:0px;
}

.html-logo {
    width:700px;
}

.html-bottom-imgs img {
    border-radius: 10%;
    width: 250px;
    height: 250px;
    border: 2px solid #000;
    padding: 5px;
}

.bottom-img2 {
    margin-left: 20px;
}

.bottom-img1 {
    margin-left: 120px;
}

.one {
    width:445px;
    height:260px;
    transform: rotate(50deg);
}

.two {
    width:425px;
    height:250px;
    transform: rotate(-50deg);
}

.three {
    width:465px;
    height:273px;
    transform: rotate(50deg);
}

.fourth-text {
    text-align: left;
    max-width: 700px;
    margin-left: 50px;
    width: 60%;
    font-size: large;
}

.python-pg {
    background-image: linear-gradient(rgb(230, 230, 255),white);
}

.figma-pg {
    background-image: linear-gradient(rgb(204, 239, 255),white);
}

.html-pg {
    background-image: linear-gradient(rgb(255, 230, 230), white);
}

.me-pg {
    background-image: linear-gradient(rgb(255, 230, 255),white);
}

.html-right-imgs {
    display:flex;
    flex-direction: row;
}

.first {
    margin-top: 0px;
    margin-bottom: 10px;
}

.second {
    margin-top: 0px;
    margin-bottom: 10px;
}

.third {
    margin-top: 0px;
    margin-bottom: 10px;
}

.fourth {
    margin-top: 0px;
    margin-bottom: 10px;
}

.fifth {
    margin-top: 0px;
    margin-bottom: 10px;
}

.q1 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.q2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.q3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.q4 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.q5 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.html-right-imgs {
    display: flex;
    flex-direction: column; 
    gap: 250px;
    justify-content: flex-start; 
    align-items: flex-end; 
}

.html-right-imgs img {
    border-radius: 30px;
    border: 2px solid #000;
    padding: 5px;
    top: 300px;   
    right: 0;
    gap: 250px;
}

.html-right-imgs {
    margin-top: 140px;
    z-index: -1;
    margin-left:150px ;
}

.whole-section2 {
    display: flex;
}

.fourth-text {
    max-width: 70%;
}

.me-section {
    display: flex;                
    align-items: flex-start;       
}

.me-questions {
    max-width: 70%;
}

.hobby-circles {
    flex: 1;                    
    display: flex;
    justify-content: flex-end;   
    margin-left: 400px; 
}

.whole-section {
    display: flex;
}


